.logSlideShow {
	position: relative;
	align-items: center;
	margin: 0 100px;

	img {
		width: 100%;
		height: 300px;
		object-fit: cover;
		border-radius: 25px;
	}

	@media (max-width: 756px) {
		margin: 10px;
	}

	.leftChevron,
	.rightChevron {
		position: absolute;
		font-size: 70px;
		color: #ffffff;
		background-color: transparent;
		transform: translateY(-50%);
		top: 50%;
		border: none;
		cursor: pointer;
	}
	.leftChevron {
		left: 25px;
	}
	.rightChevron {
		right: 25px;
	}
}
