header {
	position: fixed;
	background: #ffffff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	top: 0;
	right: 0;
	left: 0;
	background-color: white;
	padding: 45px 100px;
}

.headerLogo img {
	width: 100%;
	max-height: 68px;
}

nav {
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
	font-weight: 500;
	line-height: 34px;
}

nav ul {
	display: flex;
	list-style: none;
}

nav ul li {
	margin-right: 50px;
}

nav ul li a {
	color: #ff6060;
	text-decoration: none;
}

nav ul li a:hover {
	color: #d45050;
}
