html,
body {
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: "Montserrat", sans-serif;
	background: #ffffff;

	.mainContainer {
		display: flex;
		flex-direction: column;
		min-height: 100vh; /* vh: viewport height */
	}

	.banner {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 20px 100px;
		overflow: hidden;
		@media (max-width: 375px) {
			padding: 0;
			margin: 0;
		}

		img {
			width: 100%;
			max-height: 150px;
			object-fit: cover;
			border-radius: 25px;
		}
	}

	.notFound {
		text-align: center;

		h1 {
			font-size: 288px;
			font-weight: 700;
			color: #ff6060;
		}

		p {
			font-size: 20px;
			color: #ff6060;
			margin-bottom: 150px;
		}

		.homeLink {
			font-size: 18px;
			color: #ff6060;
		}

		@media (max-width: 375px) {
			h1 {
				font-size: 96px;
			}

			p {
				font-size: 18px;
			}

			.homeLink {
				font-size: 14px;
				text-decoration: underline;
				color: #ff6060;
			}
		}
	}

	@media (max-width: 375px) {
		gap: 10px;
	}
}
