// Individual Lodging Page
.lodgment {
	position: relative;
	align-items: center;
	padding: 0 100px;

	@media (max-width: 756px) {
		margin: 10px;
		padding: 0;
	}

	h1,
	.logLocation,
	.hostName,
	.logDescription,
	.logEquipments {
		color: #ff6060;
	}

	.logMain {
		display: flex;
		justify-content: space-between;
		align-items: center;

		h1 {
			font-size: 36px;
			font-weight: 500;
			letter-spacing: 0em;
			text-align: left;
		}

		.logLocation {
			position: relative;
			font-size: 18px;
		}

		.logHost {
			display: flex;
			justify-content: flex-end;
			align-items: center;

			.hostName {
				font-size: 18px;
				font-weight: 500;
				line-height: 26px;
				letter-spacing: 0em;
				width: 100px;
				text-align: right;
			}

			img {
				border-radius: 50%;
				width: 64px;
				height: 64px;
				margin-left: 10px;
				background-color: #c4c4c4;
			}
		}

		/* Screens < 375px */
		@media (max-width: 375px) {
			align-items: center;
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: space-between;

			h1 {
				font-size: 24px;
			}

			.logLocation {
				font-size: 14px;
				margin-bottom: 80px;
			}

			.logHost,
			.logRating {
				flex: 1;
			}
			.logHost {
				align-self: flex-end;
				width: 135px;
			}
		}
	}

	.logSub {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.logTags {
			display: flex;
			flex-wrap: wrap;
			gap: 10px;

			.tag {
				color: #ffffff;
				background-color: #ff6060;
				border-radius: 10px;
				padding: 5px 20px;
				font-size: 14px;
			}
		}

		.logRating {
			.star {
				font-size: 20px;
			}
			.red {
				color: #ff6060;
			}
			.gray {
				color: #e3e3e3;
			}
		}

		// Mobile & Tablet screens
		@media (max-width: 768px) {
		}

		/* Screens < 375px */
		@media (max-width: 375px) {
			flex-direction: row;
			justify-content: space-between;

			.logRating {
				position: absolute;
				top: 200px;
			}

			.logTags {
				position: absolute;
				top: 120px;
				display: flex;
				flex-direction: row;
				gap: 10px;
			}
		}
	}

	.dropdownList {
		display: flex;
		justify-content: space-between;
		gap: 10%;
		border-radius: 5px;
		margin-top: 20px;

		.logDescription,
		.logEquipments {
			flex: 1; // Same size for both, take up the width
		}
		// Mobile screens
		@media (max-width: 768px) {
			flex-direction: column;
			gap: 10px;
		}

		.dropdownTitle {
			background-color: #ff6060;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0 20px;
			border-radius: 5px;

			h2 {
				color: #ffffff;
				font-size: 24px;
				font-weight: 500;
				text-align: left;
			}

			i {
				color: #ffffff;
				font-size: 24px;
			}
		}

		.dropdownContent {
			padding: 10px 25px;
			max-height: 200px;
			overflow-y: auto;
			background-color: #f6f6f6;
			margin-top: 0;

			p {
				line-height: 1.5;
				font-size: 24px;
			}

			ul {
				line-height: 1.5;
				list-style-type: none;
				padding-left: 0; /* Remove bulletpoints' space */
			}

			// Mobile screens
			@media (max-width: 375px) {
				p {
					font-size: 18px;
				}
			}
		}
	}
}
